<p>コメント件数：<%= comments.count %></p>
<hr />
  <% comments.each do |comments| %>
  <p class="article-body">
    <%= link_to comments.user.name, user_path(comments.user)%>
  </p>
  <p class="article-body">
    <%= comments.body %>
  </p>
  <p class="article-body posted-dates">
    <%= l comments.created_at, format: :long %>
    <% if comments.user == current_user %>
      <%= link_to article_comment_path(comments.article.id, comments.id), method: :delete, remote: true do %>
        <i class="fas fa-trash-alt" style="color: crimson;"></i>
      <% end %>
    <% end %>
  </p>
<hr />
  <% end %>
