<h2 class="contents-header p-10">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group row m-10">
    <%= f.label :email, class:"col-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-5" %>
  </div>

  <div class="form-group row m-10">
    <%= f.label :password, class:"col-3" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"col-5" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions d-flex justify-content-center">
    <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
