<div class="show-main">
  <div class="article-detail">
    <div class="image-show">
      <%= attachment_image_tag @article, :post_img, fallback: "article_no_image.png", size:"300x300" %>
    </div>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row">店名</th>
          <td><%= @article.title %></td>
        </tr>
        <tr>
          <th scope="row">評価</th>
          <td><div id="star-<%= @article.id %>"></div>
          </td>
            <!--評価表示-->
          <script>
            $ ('#star-<%= @article.id %>').raty({
              score : '<%= @article.rate %>',
              readOnly :true,
              size : 36,
              starOff :  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf : '<%= asset_path('star-half.png') %>',
              half : true,
            });
          </script>

        </tr>
        <tr>
          <th scope="row">投稿者</th>
          <td><%= link_to @article.user.name, user_path(@article.user) %></td>
        </tr>
        <% if @article.user == current_user %>
        <tr>
          <td></td>
          <td>
            <%= link_to "編集する", edit_article_path(@article), method: :get,class:"btn btn-success" %>
            <%= link_to "削除する", article_path(@article), method: :delete, class:"btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr>

    <article class="card article-body">
      <div class="card-body">
        <p class="article-body">
          <%= @article.body %>
        </p>

        <hr>

        <div class="article-detail">
          <p class="article-body">
            住所
          </p>
          <p class="article-body">
            <%= @article.address %>
          </p>
        </div>
        <div class="article-map">
          <div id="map" class="gmap"></div>
          <script type="text/javascript">
              function initMap() {
                var test ={lat: <%= @article.latitude %>, lng: <%= @article.longitude %>};
                var map = new google.maps.Map(document.getElementById("map"),
                  { zoom: 15,
                  center: test
                  });
                var transitLayer = new google.maps.TransitLayer();
                  transitLayer.setMap(map);
                var contentString = '住所：<%= @article.address %>';
                var infowindow = new google.maps.InfoWindow({
                  content: contentString
                });
                var marker = new google.maps.Marker({
                            position:test,
                            map: map,
                            title: contentString
                           });
                     marker.addListener('click', function() {
                       infowindow.open(map, marker);
                     });
                  }
          </script>
      </div>

          <hr>
          <div class="article-detail">
            <p class="article-body">
              投稿日
            </p>
            <p class="article-body">
              <%= l @article.created_at, format: :long %>
            </p>
          </div>
          <div class="article-detail">
            <!--気になるボタン-->
            <div id="interests_button_<%= @article.id %>">
              <p class="article-body">
                <%= render 'interests/interest', locals: { article: @article, interest: @interest } %>
              </p>
            </div>
            <!--行ったよボタン-->
            <div id="visits_button_<%= @article.id %>">
              <p class="article-body">
                <%= render 'visits/visit', locals: { article: @article, visit: @visit } %>
              </p>
            </div>
          </div>
          <div class="comments">
          <p>コメント件数：<%= @article.comments.count %></p>
          <hr />
          <% @article.comments.each do |comments| %>
          <p class="article-body">
            <%= link_to comments.user.name, user_path(comments.user)%>
          </p>
          <p class="article-body">
            <%= comments.body %>
          </p>
          <p class="article-body">
            <%= l comments.created_at, format: :long %>
            <% if comments.user == current_user %>
              <%= link_to "削除", article_comment_path(comments.article.id, comments.id), method: :delete, class:"btn btn-outline-danger" %>
            <% end %>
          </p>
          <hr />
          <% end %>
          </div>
        </div>
      </article>
    <div class="new-comment">
      <%= form_with(model:[@article, @comment], local: true) do |f| %>
        <%= f.text_area :body, rows:'5',placeholder: "コメントをここに",maxlength:"150", class:"form-control" %>
        <%= f.submit "送信する", class:"btn btn-success" %>
      <% end %>
      <% if @comment.errors.any? %>
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
      </script>
  </div>
