<!--フォローボタン　ユーザーがサインインユーザーでなければ-->
<% if user_signed_in? && @user != current_user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div>
<% end %>

<!--フォローボタン-->
<%= form_with url: relationships_path, remote: true do |f| %>
  <%= f.hidden_field :following_id, :value => @user.id %>
  <%= f.submit "フォローする", class: "btn btn-outline-secondary" %>
<% end %>

<!--フォロー解除ボタン-->
<%= form_with url: relationships_path(@user), method: :delete, remote: true do |f| %>
  <%= f.submit "", class: "btn btn-outline-secondary" %>
<% end %>