<div class="contents-header">
  <h1>プロフィール編集</h1>
</div>
<div class="profile-main">
  <%= form_with model:@user, local:true do |f| %>
  <div class="profile-element">
    <label class="profile-detail">プロフィール写真</label>
    <div class="image-show"><%= attachment_image_tag @user, :profile_img, fallback: "no_image.jpg", size:"100x100", class:"rounded-circle" %></div>
  </div>
    <div class="image-field"><%= f.attachment_field :profile_img %></div>
  <div class="profile-element">
    <label class="profile-detail">ユーザー名</label>
    <div class="profile-detail">
      <%= f.text_field :name, class:"form-control" %>
    </div>
  </div>
  <div class="profile-element">
    <label class="profile-detail">自己紹介</label>
    <div class="profile-detail">
      <%= f.text_area :introduction, class:"form-control" %>
    </div>
  </div>
  <div class="submit-button">
    <%= f.submit "変更を保存", class:"btn btn-outline-success" %>
  </div>
  <% end %>
</div>