<div class="contents-header">
  <h1><%= @user.name %>'s Page</h1>
</div>

<div  class="profile-main">
<div class="profile-element">
  <div class="profile_img">
  <%= attachment_image_tag @user, :profile_img, :fill, 300, 300, fallback: "no_image.jpg", class:"rounded-circle"%>
  </div>
</div>
<div class="profile-element">
    <label class="profile-detail">ユーザー名</label>
    <div class="profile-detail"><%= @user.name %></div>
</div>
<div class="profile-element">
    <label class="profile-detail">自己紹介</label>
  <div class="profile-detail"><%= @user.introduction %></div>
</div>
<% if @user.id == current_user.id %>
<div class="profile-element">
    <div class="profile-detail"><%= link_to "", edit_user_path(current_user.id), class:"btn btn-outline-secondary fas fa-user-cog" %></div>
    <div class="profile-detail"><%= link_to "新規投稿", new_article_path, class:"btn btn-outline-secondary fas fa-bread-slice" %></div>
    <div class="profile-detail" class:"btn btn-outline-secondary fas fa-list"></div>
</div>
<% else %>
  <div class="follower">
    <%= link_to followers_user_path(@user.id) do %>
      <h5>フォロワー<%= @user.followers.count %>人</h5>
    <% end %>
  </div>
  <div class="follow">
      <%= link_to user_user_path(@user.id) do %>
        <h5 style="color: black;">フォロー<%= @user.users.count %>人</h5>
      <% end %>
  </div>
  <div>
    <%= render "follow_form" %>
  </div>
</div>
<% end %>
