<div class="contents-header">
  <h1><%= @user.name %>'s Page</h1>
</div>

<div  class="profile-main">
<div class="profile-element">
  <div class="profile_img">
  <%= attachment_image_tag @user, :profile_img, fallback: "Profile_no_image.png", size: "100x100", class:"rounded-circle"%>
  </div>
    <div class="profile-detail"><%= @user.name %></div>
</div>
<hr class="cp_hr02 profile-element" />
<div class="profile-element">
    <label class="profile-detail-introduce">自己紹介</label>
  <div class="profile-detail-introduce"><%= @user.introduction %></div>
</div>
<hr class="cp_hr02 profile-element" />
<div class="profile-element">
  <label class="profile-detail">フォロワー</label>
  <div class="profile-detail"><%= @user.followers.count %>人</div>
  <label class="profile-detail">フォロー</label>
  <div class="profile-detail"><%= @user.following.count %>人</div>
</div>
<hr class="cp_hr02 profile-element" />
<% if @user.id == current_user.id %>
<div class="profile-element">
    <div class="profile-detail"><%= link_to "", edit_user_path(current_user.id), class:"btn btn-outline-secondary fas fa-user-cog" %></div>
    <div class="profile-detail"><%= link_to "新規投稿", new_article_path, class:"btn btn-outline-secondary fas fa-bread-slice" %></div>
    <div class="profile-detail"><%= link_to "気になる一覧", interests_users_path, class:"btn btn-outline-secondary fas fa-bread-slice" %></div>
    <div class="profile-detail" class:"btn btn-outline-secondary fas fa-list"></div>
</div>
<% else %>
  <div class="profile-element">
    <%= render "follow_form" %>
  </div>
<% end %>

  <div class="article-index">
    <% @articles.each do |article| %>
    <div class="card article-card">
      <%= attachment_image_tag article, :post_img, fallback: "article_no_image.png", size:"150x150", class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
        <hr/>
        <p class="card-text"><%= article.body %></p>
      </div>
    </div>
  <% end %>
  </div>

</div>