<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>sBread Out!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">sBread Out!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mx-auto">
            <li class="nav-item mx-3">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/articles">みんなの投稿</a>
            </li>
            <li class="nav-item dropdown mx-3">
              <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sgined in as <%= current_user.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/<%= current_user.id %>">MY PAGE</a>
                <a class="dropdown-item" href="/users/<%= current_user.id %>/following">TIMELINE</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/sign_out" data-method="delete" >SIGN OUT</a>
                <% else %>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Registered?
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/sign_in">SIGN IN</a>
                <a class="dropdown-item" href="/users/sign_up">SIGN UP</a>
                <% end %>
              </div>
            </li>
          </ul>
          <div class="serarch_box form-inline my-2 my-lg-0">
            <%= search_form_for @search, url: articles_path do |f| %>
              <%= f.search_field :body_cont, placeholder: "キーワードを入力", class:"form-control mr-sm-2" %>
              <%= f.submit "検索", class:'btn-outline-success btn search-btn my-2 my-sm-0'%>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p class="footer-text sticky-bottom">© sBread Out! 2021</p>
    </footer>
  </body>
</html>
